---
import Layout from '../../layouts/layout.astro'
import BackToHome from '@components/BackToHome.astro'
---

<Layout>
  <section class="display">
    <h1>🎉 Congrats 🎉</h1>
  </section>

  <footer>
    <div class="columns">
      <button id="startAgain">Start Again</button>
      <BackToHome />
    </div>
  </footer>
</Layout>

<script>
  import { play } from '@assets/audio'
  document.addEventListener('DOMContentLoaded', () => {
    play('end')
    document.getElementById('startAgain')?.addEventListener('click', () => {
      location.href = '/tabata/start'
    })
  })
</script>

<style>
  h1 {
    color: white;
    font-size: 8vw;
    font-weight: bold;
  }

  button#start {
    min-width: 10em;
  }
</style>
