---
import Layout from '../layouts/layout.astro'
---

<Layout>
  <section class="display">
    <div id="title">Wellcome</div>
  </section>
  <footer>
    <button id="routine" class="tap secondary">Routine</button>
    <button id="go" class="tap">Go</button>
  </footer>
</Layout>

<style>
  footer {
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  #title {
    font-size: 10vw;
    font-weight: bold;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const goButton = document.getElementById('go')
    const routineButton = document.getElementById('routine')

    goButton?.addEventListener('click', () => {
      location.href = '/tabata/start'
    })

    routineButton?.addEventListener('click', () => {
      location.href = '/tabata/settings'
    })
  })
</script>
