---
import Layout from '../layouts/layout.astro'
---

<Layout>
  <section class="display">
    <div id="title">Wellcome</div>
  </section>
  <footer>
    <a href="/tabata/settings" class="button secondary">Settings</a>
    <a href="/tabata/start" class="button">Go</a>
  </footer>
</Layout>

<style>
  footer {
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  #title {
    font-size: 10vw;
    font-weight: bold;
  }
</style>
