---
import Layout from '../layouts/layout.astro'

const date = new Date()
  .toLocaleDateString('es-AR')
  .split('/')
  .map(n => n.padStart(2, '0'))
  .reverse()
  .join('')
const version = `v${date}`
console.log(version)
---

<Layout>
  <section class="display">
    <div id="title">Wellcome</div>
  </section>
  <footer>
    <button id="settings" class="secondary">Settings</button>
    <button id="go">Go</button>
  </footer>
  <small id="version">{version}</small>
</Layout>

<style>
  footer {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  #title {
    font-size: 10vw;
    font-weight: bold;
  }

  #version {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.7em;
    padding: 0.5em;
  }
</style>

<script>
  import { play } from '../assets/main'

  document.addEventListener('DOMContentLoaded', () => {
    const settings = document.getElementById('settings') as HTMLButtonElement
    const go = document.getElementById('go') as HTMLButtonElement

    settings.addEventListener('click', async () => {
      await play('tap', true)
      location.href = '/tabata/settings'
    })

    go.addEventListener('click', async () => {
      await play('tap', true)
      location.href = '/tabata/start'
    })
  })
</script>
