---
import Layout from '../layouts/layout.astro'
import CloseIcon from '../components/CloseIcon.astro'
import InstallApp from '../components/InstallApp.astro'
import ShareApp from '../components/ShareApp.astro'

const date = new Date()
  .toLocaleDateString('es-AR')
  .split('/')
  .map(n => n.padStart(2, '0'))
  .reverse()
  .join('')
const version = `v${date}`
---

<Layout>
  <section class="display">
    <div id="title">Tabata Timer</div>
  </section>
  <section class="buttons">
    <a href="/tabata/settings">Settings</a>
    <button id="go">Go</button>
  </section>
  <footer>
    <ShareApp />
    <InstallApp />
  </footer>
</Layout>

<script>
  import { play } from '../assets/main'

  document.addEventListener('DOMContentLoaded', () => {
    const go = document.getElementById('go') as HTMLButtonElement

    go.addEventListener('click', async () => {
      await play('tap', true)
      location.href = '/tabata/start'
    })

    document.querySelectorAll('a').forEach(a => {
      a.addEventListener('click', async () => {
        await play('tap')
      })
    })
  })
</script>

<style>
  #title {
    font-size: 10vw;
    font-weight: bold;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }

  #go {
    min-width: 10em;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
  }
</style>
