---
import Layout from '../layouts/layout.astro'
---

<Layout>
  <section class="display">
    <div id="title">Wellcome</div>
  </section>
  <footer class="columns">
    <button id="go" class="tap">Go</button>
    <a href="/tabata/settings" class="tap">Settings</a>
  </footer>
</Layout>

<style>
  #title {
    font-size: 10vw;
    font-weight: bold;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Add event listener to go button
    const goButton = document.getElementById('go')

    goButton?.addEventListener('click', () => {
      location.href = '/tabata/start'
    })
  })
</script>
