---
import Layout from '../layouts/layout.astro'
---

<Layout>
  <section class="display">
    <div id="title">Wellcome</div>
  </section>

  <footer class="columns">
    <button id="go">Go</button>
    <a href="/tabata/settings" class="secondary">Settings</a>
  </footer>
  <audio id="beep" src="/tabata/beep.mp3"></audio>
</Layout>

<style>
  #title {
    font-size: 10vw;
    font-weight: bold;
  }
</style>

<script>
  // Initialize app
  document.addEventListener('DOMContentLoaded', () => {
    const goButton = document.getElementById('go')
    goButton?.addEventListener('click', () => (location.href = '/tabata/start'))
  })
</script>
