---
import Layout from '@app/layouts/layout.astro'
import SettingsTimerConfig from '@components/SettingsTimerConfig.astro'
import SettingsRoutineList from '@components/SettingsRoutineList.astro'
import GoToHome from '@components/GoToHome.astro'
import GoToTrain from '@components/GoToTrain.astro'
---

<Layout>
  <div class="columns">
    <SettingsTimerConfig vertical={true} />
    <SettingsRoutineList />
  </div>

  <div class="buttons">
    <GoToHome />

    <GoToTrain />
  </div>
</Layout>

<script>
  import { onClick } from '@assets/domHelpers'

  document.addEventListener('DOMContentLoaded', () => {
    onClick('#btn-routine-start', () => {
      window.location.href = '/tabata/start'
    })
  })
</script>

<style>
  .columns {
    display: grid;
    grid-template-areas: 'settings routine';
    grid-template-columns: 9em 1fr;
    gap: 1.5em;
    align-items: start;
  }

  @media (width <= 450px) {
    .columns {
      grid-template-columns: 1fr;
      grid-template-areas:
        'settings'
        'routine';
    }
  }
</style>
