---
import AudioOnIcon from "./AudioOnIcon.astro";
import AudioOffIcon from "./AudioOffIcon.astro";
---

<div id="enable-audio">
  <button id="btn-on">
    <AudioOnIcon />
  </button>
  <button id="btn-off">
    <AudioOffIcon />
  </button>
  <audio id="player">
    <source src="" type="audio/mpeg" />
  </audio>
</div>

<style>
  #enable-audio {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 0.5rem;
    cursor: pointer;
  }

  button {
    font-size: 1.7em;
    color: white;
    min-width: unset !important;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: none;
  }
</style>

<script>
  import { play } from "../assets/main";
  const btnOn = document.getElementById("btn-on") as HTMLButtonElement;
  const btnOff = document.getElementById("btn-off") as HTMLButtonElement;
  const player = document.getElementById("player") as HTMLAudioElement;

  const mute = async () => {
    player.muted = true;
  };

  const unMute = async () => {
    player.muted = false;
  };

  const toggleAudio = async () => {
    const enable = !!localStorage.getItem("audioEnable");
    if (enable) {
      localStorage.removeItem("audioEnable");
      await mute();
    } else {
      localStorage.setItem("audioEnable", "true");
      await unMute();
    }

    await play("tap");
    updateIcon();
  };

  const updateIcon = () => {
    const enable = !!localStorage.getItem("audioEnable");

    if (enable) {
      btnOn.style.display = "block";
      btnOff.style.display = "none";
    } else {
      btnOn.style.display = "none";
      btnOff.style.display = "block";
    }
  };

  btnOn.addEventListener("click", async () => {
    await play("tap");
    toggleAudio();
  });

  btnOff.addEventListener("click", async () => {
    await play("tap");
    toggleAudio();
  });
  updateIcon();
</script>
