---
import ExerciseRestIcon from './ExerciseRestIcon.astro'
import PrepareIcon from './PrepareIcon.astro'
import TimerIcon from './TimerIcon.astro'
import ExerciseWork from './ExerciseWork.astro'

const { vertical = false } = Astro.props
---

<section id="settings-timers">
  <header>
    <div>
      <TimerIcon />
      <span class="total-routine-time"></span>'
    </div>
    <div>
      <ExerciseWork />
      <span class="total-workouts-exercises"></span>
    </div>
  </header>
  <div class={vertical ? 'vertical' : 'horizontal'}>
    <div id="prepDur">
      <label>
        <PrepareIcon />
        <input type="number" id="prepDuration" class="prep" min="0" />
      </label>
    </div>
    <div id="workDur">
      <label>
        <ExerciseWork />
        <input type="number" id="workDuration" class="workout" min="0" />
      </label>
    </div>
    <div id="restDur">
      <label>
        <ExerciseRestIcon />
        <input type="number" id="restDuration" class="rest" min="0" />
      </label>
    </div>
  </div>
</section>

<script>
  import { getSettings, updateSettings } from '../assets/main'
  import { updateTotalWorkouts, updateRoutineTime } from '../assets/settings'
  const { prepDuration, workDuration, restDuration } = getSettings()

  function Init() {
    const prepDurationInput = document.getElementById(
      'prepDuration'
    ) as HTMLInputElement
    const workoutDurationInput = document.getElementById(
      'workDuration'
    ) as HTMLInputElement
    const restDurationInput = document.getElementById(
      'restDuration'
    ) as HTMLInputElement

    // Set the values
    updateRoutineTime()
    updateTotalWorkouts()
    if (prepDurationInput) prepDurationInput.value = prepDuration.toString()
    if (workoutDurationInput)
      workoutDurationInput.value = workDuration.toString()
    if (restDurationInput) restDurationInput.value = restDuration.toString()

    // Save the settings
    prepDurationInput?.addEventListener('change', e => {
      const value = parseInt((e.target as HTMLInputElement).value)
      updateSettings({ ...getSettings(), prepDuration: +value })
    })

    workoutDurationInput?.addEventListener('change', e => {
      const value = parseInt((e.target as HTMLInputElement).value)
      updateSettings({ ...getSettings(), workDuration: +value })
      updateRoutineTime()
    })

    restDurationInput?.addEventListener('change', e => {
      const value = parseInt((e.target as HTMLInputElement).value)
      updateSettings({ ...getSettings(), restDuration: +value })
      updateRoutineTime()
    })
  }

  document.addEventListener('DOMContentLoaded', Init)
</script>

<style>
  #settings-timers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;

    &.vertical {
      flex-direction: column;
    }

    & header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-grow: 2;
      font-size: 1.6em;

      & > div {
        & svg {
          font-size: 60%;
          opacity: 0.6;
        }
      }
    }

    & .vertical,
    & .horizontal {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2em;
    }

    & label {
      position: relative;
      margin: 0;

      & svg {
        position: absolute;
        top: 50%;
        transform: translate(10px, -50%);
      }

      & input {
        margin: 0;
        text-align: center;
        padding-left: 2.5em;
      }
    }
  }

  @media (width > 450px) {
    #settings-timers {
      position: sticky;
      top: 1em;
    }
  }
</style>
