---
import CloseIcon from "./CloseIcon.astro";
---

<button id="share_app" title="Share this app with your friends!">
  <img
    id="qr_link"
    src="/tabata/qr_link.svg"
    alt="Scan to open in your phone"
    width={50}
    height={50}
  />
</button>

<dialog id="dialog">
  <CloseIcon id="dialog_close" />
  <div>
    <img id="qr_link_big" src="/tabata/qr_link.svg" alt="Tap image to share" />
    <br />
    <small data-i18n="Tap image to share with your friends!">Tap image to share with your friends!</small>
  </div>
</dialog>

<style>
    #share_app {
        background-color: 0
        border: 0;
        padding: 0;
        margin: 0;
    }

    #dialog_close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em;
    font-size: 1.5em;
  }

  #qr_link_big {
    max-height: 70vh;
    max-width: 70vw;
  }
</style>

<script>
  import { onClick } from '../assets/domHelpers'
  import {play} from '../assets/audio'

 const shareData = {
    title: 'Tabata Timer',
    text: "Check this out, I'm using this Tabata Timer every day",
    url: location.href,
  }

  document.addEventListener('DOMContentLoaded', () => {
    const dialog = document.getElementById('dialog') as HTMLDialogElement | null
    
    onClick('#dialog_close', async () => {
      await play('tap')
      dialog?.close()
    })

    onClick('#qr_link_big', async () => {
      await play('tap', true)
      if (navigator.share) navigator.share(shareData)
      dialog?.close()
    })  
    
    onClick('#qr_link', async () => {
      await play('tap', true)
      dialog?.showModal()
    })
    
  })
</script>