---
import ExerciseWork from "./ExerciseWork.astro";
import ExerciseRestIcon from "./ExerciseRestIcon.astro";
import PrepareIcon from "../components/PrepareIcon.astro";
---

<span id="workout-state" class="stop">
  <ExerciseWork class:list={"icon-work"} />
  <ExerciseRestIcon class:list={"icon-rest"} />
  <PrepareIcon class:list={"icon-prep"} />
</span>

<style>
  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span svg {
    display: none;
  }

  body.prep span svg.icon-prep {
    display: block;
  }

  body.workout span {
    &.stop {
      & svg.icon-work {
        display: block;
      }
      & svg.icon-rest {
        display: none;
      }
    }

    &.work {
      & svg.icon-work {
        display: none;
      }
      & svg.icon-rest {
        display: block;
      }
    }
  }

  body.rest span svg.icon-rest {
    display: block;
  }
</style>

<script>
  // Toggle Icon visibility
  function toggleIcon() {
    // get body class
    const bodyClasses = document.body.classList;
    const state = document.getElementById("workout-state") as HTMLElement;
    const stateClasses = state.classList;

    if (!bodyClasses.contains("workout")) return;

    // Toggle state class 'work' and 'stop'
    if (stateClasses.contains("work")) {
      stateClasses.remove("work");
      stateClasses.add("stop");
    } else {
      stateClasses.remove("stop");
      stateClasses.add("work");
    }
  }

  // Switch between workout and rest each second
  setInterval(toggleIcon, 1000);
</script>
