<html lang="en">
  <head>
    <title>Tabata</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/tabata/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pumpkin.min.css"
    />
    <link rel="manifest" href="/tabata/manifest.json" />

    <!-- SEO Meta Tags -->
    <title>Tabata - Free HIIT Workout App</title>
    <meta
      name="description"
      content="Tabata is a free, user-friendly exercise routine app designed to help you create and manage high-intensity interval training (HIIT) workouts with ease."
    />
    <meta
      name="keywords"
      content="Tabata, HIIT, workout, fitness, exercise, free app"
    />
    <meta name="author" content="Germán Aliprandi" />

    <!-- Open Graph Meta Tags (for social sharing) -->
    <meta property="og:title" content="Tabata - Free HIIT Workout App" />
    <meta
      property="og:description"
      content="Tabata is a free, user-friendly exercise routine app designed to help you create and manage high-intensity interval training (HIIT) workouts with ease."
    />
    <meta
      property="og:image"
      content="https://galiprandi.github.io/tabata/screenshot-1.png"
    />
    <meta property="og:url" content="https://github.com/galiprandi/tabata" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Tabata - Free HIIT Workout App" />
    <meta
      name="twitter:description"
      content="Tabata is a free, user-friendly exercise routine app designed to help you create and manage high-intensity interval training (HIIT) workouts with ease."
    />
    <meta
      name="twitter:image"
      content="https://galiprandi.github.io/tabata/screenshot-1.png"
    />
    <meta name="twitter:site" content="@yourtwitterhandle" />

    <meta
      name="google-site-verification"
      content="D_N13fB6QBjfKH01zYgk_Mc-WPm9TPS-6HcqrGzuxpQ"
    />
  </head>
  <body class="prep">
    <main class="main">
      <slot />
      <audio id="player">
        <source src="" type="audio/mpeg" />
      </audio>
    </main>
    <!-- Google tag (gtag.js) -->
    <script
      defer
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-CZ03PKC275"></script>
    <script defer src="/me/googleTag.js"></script>
  </body>
</html>

<style is:global>
  :root {
    --color--prep: #052940;
    --color-work: #44aa99;
    --color-rest: #cc6677;
    --color-win: #332288;
    --color-accent: #f7c179;
    --pico-color: white !important;
    --pico-h1-color: white !important;
    --color-links: white;
  }

  * {
    box-sizing: border-box;
  }

  html,
  body,
  body > main {
    min-height: 100dvh;
    min-width: 100vw;
  }

  body {
    font-family:
      system-ui,
      -apple-system,
      sans-serif;
    text-align: center;
    color: white;
    transition: background-color 0.5s;
    overscroll-behavior-y: contain;
  }

  a {
    color: var(--color-links);
    text-decoration-color: var(--color-links);
  }

  .prep {
    background-color: var(--color--prep);
    color: white;
  }

  .workout {
    background-color: var(--color-work);
    color: white;
  }

  .rest {
    background-color: var(--color-rest);
    color: white;
  }

  .win {
    background-color: var(--color-win);
  }

  main {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  main > section {
    margin: 0;
  }

  button {
    min-width: 10em !important;
  }

  .columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  progress {
    height: 1.2em;
    padding: 3px;
    margin: 0;
    max-width: 90%;
    border-radius: 8px;
    background-color: hsla(0, 0%, 0%, 0.3);
  }
  progress[value]::-webkit-progress-value {
    margin: auto;
    border-radius: 5px;
  }
</style>
