---
import AudioControl from '../components/AudioControl.astro'
---

<html lang="en" data-theme="dark">
  <head>
    <title>Tabata</title>
    <meta charset="utf-8" />

    <link rel="icon" type="image/svg+xml" href="/tabata/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pumpkin.min.css"
    />
    <link rel="manifest" href="/tabata/manifest.json" />

    <!-- SEO Meta Tags -->
    <title>Tabata - Free HIIT Workout App</title>
    <meta
      name="description"
      content="Tabata is a free, user-friendly exercise routine app designed to help you create and manage high-intensity interval training (HIIT) workouts with ease."
    />
    <meta
      name="keywords"
      content="Tabata, HIIT, workout, fitness, exercise, free app"
    />
    <meta name="author" content="Germán Aliprandi" />

    <!-- Open Graph Meta Tags (for social sharing) -->
    <meta property="og:title" content="Tabata - Free HIIT Workout App" />
    <meta
      property="og:description"
      content="Tabata is a free, user-friendly exercise routine app designed to help you create and manage high-intensity interval training (HIIT) workouts with ease."
    />
    <meta
      property="og:image"
      content="https://galiprandi.github.io/tabata/screenshot-1.png"
    />
    <meta property="og:url" content="https://github.com/galiprandi/tabata" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Tabata - Free HIIT Workout App" />
    <meta
      name="twitter:description"
      content="Tabata is a free, user-friendly exercise routine app designed to help you create and manage high-intensity interval training (HIIT) workouts with ease."
    />
    <meta
      name="twitter:image"
      content="https://galiprandi.github.io/tabata/screenshot-1.png"
    />
    <meta name="twitter:site" content="@yourtwitterhandle" />

    <meta
      name="google-site-verification"
      content="D_N13fB6QBjfKH01zYgk_Mc-WPm9TPS-6HcqrGzuxpQ"
    />
  </head>
  <body class="prep">
    <main class="main">
      <slot />
    </main>

    <AudioControl />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CZ03PKC275"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        // @ts-ignore
        dataLayer.push(arguments)
      }
      // @ts-ignore
      gtag('js', new Date())
      // @ts-ignore
      gtag('config', 'G-CZ03PKC275')
    </script>
  </body>
</html>

<style is:global>
  :root {
    --color--prep: #052940;
    --color-work: #44aa99;
    --color-rest: #cc6677;
    --color-win: #332288;
    --color-accent: #f7c179;
    --pico-color: white !important;
    --pico-h1-color: white !important;
    --color-links: white;
  }

  * {
    box-sizing: border-box;
  }

  html,
  body,
  body > main {
    min-height: 100vh;
    min-width: 100vw;
  }

  body {
    font-family:
      system-ui,
      -apple-system,
      sans-serif;
    text-align: center;
    color: white;
    transition: background-color 0.5s;
    overscroll-behavior-y: contain;
  }

  .prep {
    background-color: var(--pico-background-color);
    color: white;
  }

  .workout {
    background-color: var(--color-work);
    color: white;
  }

  .rest {
    background-color: var(--color-rest);
    color: white;
  }

  .win {
    background-color: var(--color-win);
  }

  main {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  main > section {
    margin: 0;
  }

  a {
    color: var(--color-links);
    text-decoration-color: var(--color-links);
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }

  button > svg {
    margin-right: 0.5em;
  }

  button.icon > svg {
    margin-right: 0;
  }

  a.button {
    --pico-background-color: var(--pico-primary-background);
    --pico-border-color: var(--pico-primary-border);
    --pico-color: var(--pico-primary-inverse);
    --pico-box-shadow: var(--pico-button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
    padding: var(--pico-form-element-spacing-vertical)
      var(--pico-form-element-spacing-horizontal);
    border: var(--pico-border-width) solid var(--pico-border-color);
    border-radius: var(--pico-border-radius);
    outline: 0;
    background-color: var(--pico-background-color);
    box-shadow: var(--pico-box-shadow);
    color: var(--pico-color);
    font-weight: var(--pico-font-weight);
    font-size: 1rem;
    line-height: var(--pico-line-height);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition:
      background-color var(--pico-transition),
      border-color var(--pico-transition),
      color var(--pico-transition),
      box-shadow var(--pico-transition);
  }

  a.button:hover {
    --pico-background-color: var(--pico-primary-hover-background);
    --pico-border-color: var(--pico-primary-hover-border);
    --pico-box-shadow: var(
      --pico-button-hover-box-shadow,
      0 0 0 rgba(0, 0, 0, 0)
    );
    --pico-color: var(--pico-primary-inverse);
  }

  a.button.secondary {
    --pico-background-color: var(--pico-secondary-background);
    --pico-border-color: var(--pico-secondary-border);
    --pico-color: var(--pico-secondary-inverse);
    cursor: pointer;
  }

  a.button.secondary:hover {
    --pico-background-color: var(--pico-secondary-hover-background);
    --pico-border-color: var(--pico-secondary-hover-border);
    --pico-color: var(--pico-secondary-inverse);
  }

  .columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  progress {
    height: 1.2em;
    padding: 3px;
    margin: 0;
    max-width: 90%;
    border-radius: 8px;
    background-color: hsla(0, 0%, 0%, 0.3);
  }
  progress[value]::-webkit-progress-value {
    margin: auto;
    border-radius: 5px;
  }
</style>

<script>
  import { initTranslation } from '@assets/dictionary'
  document.addEventListener('DOMContentLoaded', initTranslation)
</script>
