<html lang="en">
  <head>
    <title>Tabata</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/tabata/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pumpkin.min.css"
    />
    <link rel="manifest" href="/tabata/manifest.json" />
  </head>
  <body class="prep">
    <main class="main">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --color--prep: #052940;
    --color-work: #44aa99;
    --color-rest: #cc6677;
    --color-win: #332288;
    --color-acent: #f7c179;
    --pico-color: white !important;
    --pico-h1-color: white !important;
    --color-links: white;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
  }

  body {
    font-family:
      system-ui,
      -apple-system,
      sans-serif;
    text-align: center;
    color: white;
  }

  a {
    color: var(--color-links);
    text-decoration-color: var(--color-links);
  }

  .main {
    min-height: 100dvh;
  }

  .prep {
    background-color: var(--color--prep);
  }

  .workout {
    background-color: var(--color-work);
  }

  .rest {
    background-color: var(--color-rest);
  }

  .win {
    background-color: var(--color-win);
  }

  main {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  main > section {
    margin: 0;
  }

  button {
    min-width: 10em !important;
  }

  .columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
</style>
